@tailwind base;
@tailwind components;
@tailwind utilities;

/* third-party libraries CSS */

.testimonial-01 .swiper-pagination {
  @apply relative pt-[50px];
}

#supportCheckbox:checked ~ div span {
  @apply opacity-100;
}

@layer base {
  body {
    @apply relative z-1 font-inter text-regular font-normal text-waterloo dark:text-manatee;
  }
}

@layer components {
  .dropdown {
    @apply -left-7.5 mt-2 hidden min-w-max flex-col gap-4 rounded-md border border-stroke bg-white px-8 py-5 shadow-solid-13 duration-300 ease-in dark:border-strokedark dark:bg-black xl:invisible xl:absolute
    xl:mt-0 xl:flex xl:w-[250px] xl:translate-y-10 xl:opacity-0
    xl:before:absolute xl:before:-top-1.5 xl:before:left-10 xl:before:h-3 xl:before:w-3 xl:before:rotate-45 xl:before:border-l xl:before:border-t xl:before:border-stroke xl:before:bg-white xl:group-hover:visible xl:group-hover:translate-y-6.5 
    xl:group-hover:opacity-100 xl:dark:before:border-strokedark xl:dark:before:bg-black;
  }
}

@media (max-width: 1280px) {
  .navbar {
    @apply max-h-[400px] overflow-y-scroll;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .img-white {
    filter: invert(0%) sepia(96%) saturate(15%) hue-rotate(249deg)
      brightness(100%) contrast(105%);
  }
}


.cover {
	background: navy;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0;
	
	animation: fade-out 4s /*infinite*/;
}

.cover #icon {
	--size: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: var(--size);
	fill: white;
	
	animation: zoom-in 2s /*infinite*/;
	animation-delay: 2s;
}

@keyframes zoom-in {
	50% {
		width: var(--size);
	}
	60% {
		width: calc(var(--size) * 0.9);
	}
	100% {
		width: 250%;
	}
}
@keyframes fade-out {
	0%, 85% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.content {
	width: 100%;
}



.text-gradient,
.text-gradient > * {
  background: #FC466B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  -webkit-text-fill-color: transparent;
  background-clip: text;

  padding-top: 0.5em;
  margin-top: -0.5em;

  padding-bottom: 0.5em;
  margin-bottom: -0.5em;

  font-weight: 600;
}


.text-gradient-black,
.text-gradient-black > * {
  background: radial-gradient(780px at 37.8% 100.3%, rgb(19, 55, 115) 2.2%, rgb(32, 7, 80) 20.2%, rgb(27, 88, 111) 58.6%, rgb(115, 88, 44) 75%, rgb(99, 19, 90) 89.6%, rgb(12, 51, 76) 96.1%);

  -webkit-text-fill-color: transparent;
  background-clip: text;

  padding-top: 0.5em;
  margin-top: -0.5em;

  padding-bottom: 0.5em;
  margin-bottom: -0.5em;

  font-weight: 600;
}

.btn-effect {
  position: relative;
}
.btn-effect > span {
  display: block;
  background: linear-gradient(120deg, #b651e1, #fd4428, #E15175);
  background-size: 400% 400%;
  -moz-animation: gradient 3s ease-in-out infinite;
  -webkit-animation: gradient 3s ease-in-out infinite;
  animation: gradient 3s ease-in-out infinite;
  color: #fff;
  padding: 20px 100px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 200px;
}
.btn-effect {
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  display: inline-block;
}



.primary-effect {
  position: relative;
}
.primary-effect > span {
  display: block;
  background: radial-gradient(780px at 37.8% 100.3%, rgb(19, 55, 115) 2.2%, rgb(32, 7, 80) 20.2%, rgb(27, 88, 111) 58.6%,  rgb(12, 51, 76) 96.1%);
  background-size: 400% 400%;
  -moz-animation: gradient 3s ease-in-out infinite;
  -webkit-animation: gradient 3s ease-in-out infinite;
  animation: gradient 3s ease-in-out infinite;
  color: #fff;
  padding: 20px 100px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 200px;
}
.primary-effect {
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  display: inline-block;
}


.btn-effect-disabled {
  position: relative;
}
.btn-effect-disabled > span {
  display: block;
  background: gray;
  background-size: 400% 400%;
  -moz-animation: gradient 3s ease-in-out infinite;
  -webkit-animation: gradient 3s ease-in-out infinite;
  animation: gradient 3s ease-in-out infinite;
  color: #fff;
  padding: 20px 100px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 200px;
}
.btn-effect {
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  display: inline-block;
}




/* motion */
@-moz-keyframes gradient {
0% {
background-position: 14% 0%;
}
50% {
background-position: 87% 100%;
}
100% {
background-position: 14% 0%;
}
}
@-webkit-keyframes gradient {
0% {
background-position: 14% 0%;
}
50% {
background-position: 87% 100%;
}
100% {
background-position: 14% 0%;
}
}
@keyframes gradient {
0% {
background-position: 14% 0%;
}
50% {
background-position: 87% 100%;
}
100% {
background-position: 14% 0%;
}
}
.btn-effect2 {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
   padding: 20px 100px;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  text-align: center;
  background: #0075f9;
  -webkit-transition: background 0.15s ease-in-out;
  -moz-transition: background 0.15s ease-in-out;
  -ms-transition: background 0.15s ease-in-out;
  -o-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.btn-effect2 i {
  /*   positioning */
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  /*   gradient   */
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0.85) 71%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(1%, rgba(255, 255, 255, 0.03)), color-stop(30%, rgba(255, 255, 255, 0.85)), color-stop(50%, rgba(255, 255, 255, 0.85)), color-stop(70%, rgba(255, 255, 255, 0.85)), color-stop(71%, rgba(255, 255, 255, 0.85)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0.85) 71%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0.85) 71%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0.85) 71%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0.85) 71%, rgba(255, 255, 255, 0) 100%);
/* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=1 );
  /* IE6-9 */
/*  forming the shine element
    play around with the width, skew and gradient to get different effects
  */
  width: 15%;
  height: 100%;
  transform: skew(-10deg, 0deg);
  -webkit-transform: skew(-50deg, 0deg);
  -moz-transform: skew(-50deg, 0deg);
  -ms-transform: skew(-50deg, 0deg);
  -o-transform: skew(-50deg, 0deg);
  /*  animating it  */
  animation: move 2s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  -webkit-animation: move 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
  -moz-transform: skew(-50deg, 0deg);
  -moz-animation: move 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 1s;
  -ms-transform: skew(-50deg, 0deg);
  -ms-animation: move 2s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 1s;
  -o-transform: skew(-50deg, 0deg);
  -o-animation: move 2s;
  -o-animation-iteration-count: infinite;
  -o-animation-delay: 1s;
}

/*  */
@keyframes move {
0% {
left: 0;
opacity: 0;
}
5% {
opacity: 0.0;
}
48% {
opacity: 0.2;
}
80% {
opacity: 0.0;
}
100% {
left: 82%;
}
}
@-webkit-keyframes move {
0% {
left: 0;
opacity: 0;
}
5% {
opacity: 0.0;
}
48% {
opacity: 0.2;
}
80% {
opacity: 0.0;
}
100% {
left: 82%;
}
}
@-moz-keyframes move {
0% {
left: 0;
opacity: 0;
}
5% {
opacity: 0.0;
}
48% {
opacity: 0.2;
}
80% {
opacity: 0.0;
}
100% {
left: 88%;
}
}
@-ms-keyframes move {
0% {
left: 0;
opacity: 0;
}
5% {
opacity: 0.0;
}
48% {
opacity: 0.2;
}
80% {
opacity: 0.0;
}
100% {
left: 82%;
}
}
@-o-keyframes move {
0% {
left: 0;
opacity: 0;
}
5% {
opacity: 0.0;
}
48% {
opacity: 0.2;
}
80% {
opacity: 0.0;
}
100% {
left: 82%;
}
}


.mycontainer {
  display: grid;
  grid-template-columns: (auto-fit, minmax(179px, max-content));
  place-items: center;
max-width: 900px;
}

.mycontainer > div {
  grid-row: 1; /* keeps all items on the first row */
  border-radius: 5px;
  place-self: center;
}



#right-side{
  height:500px;
  background-image: url(https://images.unsplash.com/photo-1587058571836-8562bb05e548?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1035&q=80);
  background-repeat:no-repeat;
  border-radius:0;
}


#left-side{
  height:500px;
  background-color:#FFB74D;
  border-radius:0;
  margin-bottom:0;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.card-main {
  display: flex;
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.card-img {
  flex-basis: 40%;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  flex-basis: 60%;
  padding: 40px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.card-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.card-date {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #888;
}

.date {
  margin: 0;
}

.gradientbg {
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0.85) 71%, rgba(255, 255, 255, 0) 100%);

}



.main{
  display: grid;
  width: 50vw;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 100px;
  place-content: center;
  place-items: center;
}

@media (max-width: 400px) {
  .main {
      grid-template-columns: 1fr !important;
      width: 20px;
  }
}

.section{
  background: var(--color-light);
  border-radius: calc(var(--font-size-initial) * .5);
  box-shadow: 0 calc(var(--size-initial) * 3) calc(var(--size-initial) * 6) hsla(0,0%,0%,.1);
  overflow: hidden;
}

.article{
  padding: calc(var(--font-size-initial) * 3);
}

.figure{
  height: calc(var(--font-size-initial) * 15);
}

/* IMAGE */
.img{
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* TYPOGRAPHY */
.h3{
  font-size: calc(var(--font-size-initial) * 2);
  letter-spacing: calc(var(--size-initial) * -1.25);
  line-height: calc(var(--font-size-initial) * 2.25);
  margin: calc(var(--font-size-initial) * .5) 0;
}

.p{
  font-size: calc(var(--font-size-initial) * .875);
  line-height: calc(var(--font-size-initial) * 1.25);
}

.span{
  color: var(--color-gray-80);
  font-size: calc(var(--font-size-initial) * .75);
  letter-spacing: calc(var(--size-initial) * .75);
  text-transform: uppercase;
  word-spacing: var(--size-initial);
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}